*,
::before,
::after {
  box-sizing: border-box;
}

html {
  position: relative;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: left;
  background: #F4F4F4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote {
  margin: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

dl {
  margin-top: 0;
  margin-bottom: 0;
}

dd {
  margin-left: 0;
}

figure {
  margin: 0;
}

address,
em,
cite,
dfn,
var,
i {
  font-style: inherit;
}

img,
iframe,
embed,
object,
video,
audio,
svg,
canvas {
  vertical-align: bottom;
}

img,
iframe,
video,
input,
select,
textarea {
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentcolor;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

th {
  text-align: inherit;
}

input,
button,
select,
textarea {
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

::-ms-expand {
  display: none;
}

fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

[hidden][hidden] {
  display: none !important;
}
body {
  margin: 0;
  overflow-y: scroll;
  width: 100%;
  &.js-scrollLock {
    position: fixed;
    left: 0;
  }
}
a {
  text-decoration: none;
  color: #000;
}
button {
  cursor: pointer;
}
